@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   @if(User.Identity.IsAuthenticated)
{
    <p>Здравствуйте, @User.Identity.Name</p>
 
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
        </form>
    }
    else
    {
        <p>Добро пожаловать,вы не зарегестрированы?</p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
    }

</div>
